[Unit]
Description=Safe Chicken Door Control Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/safe-chicken/raspberry/startup_safechicken.sh &

[Install]
WantedBy=multi-user.target
